header {
    background-color: #fff;
    padding: 2px;
    text-align: center;
}

header img {
    max-width: 130px;
    margin: 12px;
}

main {
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    /* Asegura que el body ocupe al menos el 100% de la altura de la ventana */
    margin: 0;
    /* Elimina el margen predeterminado del body */
}

footer {
    background-color: #33691e;
    color: #fff;
    bottom: 0;
    width: 100%;
    clear: both;
    /* Evita superposición con elementos flotantes */
}

footer img {
    max-width: 130px;
}

.btn-udea-primary {
    color: #fff;
    background-color: #ffc107;
    letter-spacing: 1.25px;
    margin-right: 10px;
}

.btn-udea-primary:hover {
    background-color: #d39e00;
}

.btn-udea-primary:active {
    background-color: #0056b3;
    /* Cambia el color de fondo al hacer clic */
    color: #ffffff;
    /* Cambia el color del texto, si es necesario */
}

.navbar {
    background-color: #33691e;
}

.dropdown-menu {
    background-color: #33691e;
}

.dropdown-menu .dropdown-item {
    color: #fff;
}

.dropdown-menu .dropdown-item:hover {
    color: #33691e;
    border-radius: 4px;
}

.dropdown-menu .dropdown-item:active {
    background-color: #fff;
    border-radius: 4px;
}

.navbar {
    height: 80px;
}

.navbar-nav .nav-item {
    color: #f0f0f0;
}

.navbar-nav .nav-link {
    color: #f0f0f0;
}

.navbar-nav .nav-link:hover {
    color: #f0f0f0;
    font-size: 18px;
}

.navbar-toggler {
    background-color: #f0f0f0;
}

section {
    padding: 8px;
    background-color: #ffff;
}

.form {
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 20px;
}

.colum {
    text-align: center;
}

.contenedor-flex {
    display: flex;
}

.mi-div {
    width: auto;
    height: auto;
    text-align: center;
    background-color: #b1afc4;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
}

.col-md-6 {
    margin-top: 20px;
}

.ctn_social a {
    margin-right: 25px;
    color: #33691e;
}

.ctn_social i {
    font-size: 30px;
    /* Ajusta el tamaño según sea necesario */
    color: white;
}

.container {
    display: block;
    padding: 20px;
}

table {
    background-color: #f0f0f0;
    border-radius: 12px;
}

th {
    align-items: center;
    text-align: center;
}

td {
    align-items: center;
    text-align: center;
}

.table .tbody .tr .td {
    align-items: center;
}

.form-control {
    background-color: #f0f0f0;
}

#my-table {
    padding: 20px;
}

.gridjs-head {
    text-align: end;
}

#detailsContainer {
    padding: 40px;
    text-align: center;
}

#my-container {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.container-buttons {
    display: flex;
}

/* Tarjeta inicio*/
.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    width: 300px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    align-items: center;
}

/* Estilos para la imagen dentro de la tarjeta */
.card-image {
    width: 250px;
    /* Ajusta este valor según el tamaño deseado */
    height: 200px;
    /* Ajusta este valor según el tamaño deseado */
    object-fit: cover;
    /* Esto hace que la imagen se ajuste a las dimensiones sin distorsionarse */
    border-radius: 8%;
    /* Hace la imagen redonda, opcional */
    margin-bottom: 16px;
}

.card:hover {
    transform: scale(1.05);
}

.card h3 {
    margin: 20px;
    text-align: center;
    padding: 20px;
}

.card p {
    margin: 20px;
    color: #555;
    padding: 20px;
}

.card a {
    text-decoration: none;
    color: #007BFF;
    font-weight: bold;
}

.card a:hover {
    text-decoration: underline;
}

.tags {
    font-style: italic;
    /* Coloca los tags en cursiva */
}

/* Estilos para la tarjeta de detalles */
.cardDetails {
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-left: 8px;
    margin-right: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: auto; /* Ajusta este valor según sea necesario */
    height: auto; /* Ajusta este valor según sea necesario */
    /* Alinea todos los elementos hijos en el centro horizontalmente */
    cursor: pointer;
    /* Cambia el cursor a una mano para indicar que la tarjeta es clicable */
    transition: transform 0.2s;
    /* Animación suave para el efecto hover */
}

/* Estilos para la imagen dentro de la tarjeta */
.cardDetails-image {
    width: 300px;
    height: 200px;
    margin-top: 20px;
    object-fit: cover;
    border-radius: 8%;
    margin-bottom: 16px;
}

.cardDetails p {
    margin-left: 8px;
    margin-right: 8px;
}