<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="copy_footer_info">
                    <div class="ctn_logo">
                        <a href="https://www.udea.edu.co/">
                            <img src="/assets/logo_udea_white.png" class="img-fluid" alt="Universidad de Antioquia"
                                width="358" height="90">
                        </a>
                    </div>
                    <br>
                    <div class="ctn_social">
                        <a target="_blank"
                            href="https://www.linkedin.com/school/universidad-de-antioquia/?originalSubdomain=co"
                            title="Linkedin">
                            <i class="fab fa-linkedin"></i>
                        </a>
                        <a target="_blank" href="https://www.youtube.com/user/UniversidadAntioquia" title="Youtube">
                            <i class="fab fa-youtube"></i>
                        </a>
                        <a target="_blank" href="https://twitter.com/UdeA" title="Twitter">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a target="_blank" href="https://www.facebook.com/universidaddeantioquia/?fref=ts"
                            title="Facebook">
                            <i class="fab fa-facebook"></i>
                        </a>
                        <a target="_blank" href="https://www.instagram.com/udea/" title="Instagram">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a target="_blank" href="https://www.tiktok.com/@universidaddeantioquia" title="TikTok">
                            <i class="fab fa-tiktok"></i>
                        </a>
                        <a target="_blank" href="https://open.spotify.com/collection/podcasts" title="Spotify">
                            <i class="fab fa-spotify"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="ctn_body">
                    <p>
                        NIT 890980040-8 | Recepción de correspondencia: calle 70 No. 52 - 21 | Apartado Aéreo 1226 |
                        Dirección:
                        calle 67 No. 53 - 108 | Medellín - Colombia | Correo notificaciones judiciales:
                        notificacionesjudiciales@udea.edu.co
                    </p>
                    <p>
                        Vigilada Mineducación Acreditación institucional hasta el 2033
                    </p>
                    <p>© Copyright 2023 Todos los Derechos Reservados</p>
                    <p><a title="Nuestros aliados"></a></p>
                </div>
            </div>
        </div>
    </div>
</footer>